<!DOCTYPE html>
<html ng-app="app">

<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <script src="js/data.js"></script>
    <script src="js/main.js"></script>

    <script src="js/filters/timefilter.js"></script>
    <script src="js/controller/scorefilter.js"></script>
    <script src="js/services/wordpuzzlegenerator.js"></script>
    <script src="js/controller/maincontroller.js"></script>
    <script src="js/controller/scoredisplaycontroller.js"></script>


</head>

<body class="container" >
<div ng-view>
<div ng-controller="MainGameController">
    <div id="overlay" ng-click="toggleOverlay()"><div id="text">{{overlayMessage}}</div> </div>

    <div class="row">

    <div class="col-md-4 col-md-offset-4"> <center><h1>
        <span class="label label-default">{{timeLeft | timeFilter }}</span></h1></center></div>
    <br/>
    <div class="col-md-4"></div>
    <div class="row" >
<div class="col-md-4 col-md-offset-4">
    <div class="top-buffer">
    <h3 >Words to find: </h3> <div class="keywords"><h3> <label class="label label-primary " ng-repeat="i in chosenWords"> {{i}} </label></h3></div>
    </div>
    </div>
    <div class="col-md-3 col-md-offset-1"><h3 class="text-center">SCORECARD</h3></div>
    </div>
    <div class="row">

    <div class="col-md-4 col-md-offset-4" >
    <input type="text" style="margin-top:20px" ng-model="username" class="form-control" placeholder="Enter Name"/>
    <table class="playgrid ">
        <tr ng-repeat="row in wordPuzzle.rows">
            <td class="tile"  ng-repeat="spot in row.spots track by $index" ng-class="spot.color" ng-mouseup="removeFlag()" ng-mousedown="setFlag($parent.$index,$index)" ng-mousemove="drawColor($parent.$index, $index)">
                {{spot.letter}}

            </td>
        </tr>



    </table>
    </div>

    <div class="col-md-3 col-md-offset-1" >
    <table class = "table">
        <thead>
            <td>Name</td>
            <td>Score</td>
        </thead>
        <tr ng-repeat="i in scoreData | orderBy:'-score'">
            <td>{{i.name}}</td>
            <td>{{i.score}}</td>
        </tr>


    </table>
        
    </div>
    </div>
</div>
</body>


</html>
